@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('href="https://fonts.googleapis.com/css?family=Quicksand');

#background {
	z-index:50;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
nav{
    z-index:60;
}

#intro {
	width:80%;
	left:50%;
	top:1em;
	margin-left:-40%;
	padding:2em;
	background:#fff;
	text-align:center;
	border-radius:1em;

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	-o-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#intro .arrows {
	font-size:2em;
	color:#09f;
}

#transform {
	width:70%;
	left:50%;
	top:20%;
	margin-left:-35%;
	text-align:center;
	font-size:150%;

	.transform-origin(50%, 50%);
}

#properties {
	width:100%;
	height:100%;
	padding-top:10%;
	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#easing_wrapper {
	width:100%;
	height:100%;
    z-index:51;
}

#easing {
	top:10%;
	width:50%;
	z-index:101;
}

.drop {
	font-weight:bold;
	padding:1em;
    width:100px;
    height:100px;
    border:1px solid rgba(255,255,255,0.7) ;
    border-radius: 3px;
}

.drop span{
    display:none;
}

.drop:hover img{
    display:none;
}

.drop:hover span{
    display:block;
}


#download {
	width:80%;
	left:10%;
	height:80%;
	padding:3em;
	border:0 solid #222;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.twitter-share-button, .twitter-follow-button {
	vertical-align:middle;
}
